[submodule "ref/bun"]
	path = ref/bun
	url = https://github.com/oven-sh/bun.git
	shallow = true
	sparse = true
[submodule "ref/ai"]
	path = ref/ai
	url = https://github.com/vercel/ai.git
	shallow = true
	sparse = true
